
<div class="login-box">
<h2>File Quick</h2>

<h2>Upload File to share:</h2>
<form id="upload-form" action="/" method="POST" enctype="multipart/form-data">
  <div class="user-box"><input id="file-picker" type="file" name="image"></div>

    <a href="javascript:;" onclick="document.getElementById('upload-form').submit();">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Submit
    </a>
</form>


<p id="message">{{message}}</p>

<hr>
<p>This app has no official privacy policy. Your data will be uploaded to a storage service in order to produce a SAS link. Data will be removed by blob policy.</p>
</div>
<script>
  document.addEventListener('DOMContentLoaded', () => {

    const message = document.getElementById('message');
    const picker = document.getElementById('file-picker');

    document.getElementById('upload-form').addEventListener('submit', (e) => {

      message.innerText = '';

      if(!picker.files.length) {
        message.innerText = 'Please select an image to upload.';
        e.preventDefault();
        return false;
      }
    });

  });
</script>