<div class="login-box">
  <h2>Success!</h2>
  <h2>Grab your SAS link:</h2>
    <div class="user-box">
               
        <!-- Target -->
        <input
        id="text_input"
        class="sas"
        type="text"
        value="{{message}}"
        />

        <!-- Trigger -->
        <button class="btn" id="btn">
        COPY
        </button>
        <form><a href="/">Home</a></form>
    </div>
    
</div>


<script>
const input = document.getElementById("text_input");
const btn = document.getElementById("btn");

btn.addEventListener("click", copyText);

// CopyText Function
function copyText() {
  input.select();
  document.execCommand("copy");
  btn.innerHTML = "Done";
}
</script>